# Зависимости
node_modules/
vendor/

# Файлы окружения
.env
.env.local
.env.*.local

# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директории сборки
/dist
/build
/public/hot
/public/storage
storage/*.key

# IDE
.vscode/
.idea/
*.sublime-*
*.swp
*.swo
*~
.DS_Store

# Laravel специфичное
/.phpunit.result.cache
Homestead.json
Homestead.yaml
/.vagrant
.php_cs
.php_cs.cache